.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* CMS nav bar  styles */

.cmsnavcontainer {
  background-color: #7658ff;
  color: white;
  padding: 0px 10px;
  border-bottom: 2px solid rgb(225, 225, 225);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 300px;
  user-select: none;
}

.DropDown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
.DropDown:hover {
  background-color: rgb(27, 27, 27);
  color: white;
}
.cmsnavsections li {
  list-style: none;
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cmsnavsections li:hover {
  background-color: rgb(27, 27, 27);
  color: white;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.cmsnavsections {
  /* background-color: blueviolet; */
  padding: 6px 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navsearch {
  border: 2 px solid rgb(0, 0, 0);
  caret-color: rgba(0, 0, 0, 0.542);
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
.navsearch:active {
  border: none;
}

.cmsnotifi {
  cursor: pointer;
  transition-delay: 10ms;
  transition: all ease-in-out;
}
.cmsnotifi:hover {
  scale: 1.08;
  animation: rotatenotify 0.7s ease-out;
}

@keyframes rotatenotify {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.navright {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.cmsmaincontainer {
  padding: 50px 125px;
}

/* CMS OVERVIEW */

/* .mainoverviewcontent {
  display: flex;
  flex-direction: row;
} */

.topovdiv {
  background-color: rgb(235, 235, 235);
  width: 10%;
  height: 15vh;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

#stat1 {
  background-color: #74bca29c;
}

#stat2 {
  background-color: #544390b6;
}
#stat3 {
  background-color: #ff3e48d1;
}

/* Rooms Css Goes Here */

.roomstable {
  background-color: white;
  border-radius: 3px;
}

.navright button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 20px;
  transition: 0.1s ease-in;
}

.navright button:hover {
  background-color: rgb(27, 27, 27);
  color: white;
  box-shadow: 0.2px 1.6px 1.2px rgba(0, 0, 0, 0.025),
    0.3px 3.4px 2.7px rgba(0, 0, 0, 0.035),
    0.6px 5.8px 4.6px rgba(220, 220, 220, 0.043);
}
.roomsedit {
  display: flex;
  margin: 10px;
  /* background-color: #544390b6; */
  border-radius: 10%;
}
.roomAdderModal {
  z-index: 100;
}

.DataTable {
  z-index: 50;
}

.roomAdder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffffb6;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.roomAdder form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.roomAdder h1 {
  position: relative;
  width: max-content;
  height: max-content;
  margin-bottom: 50px;
}

.roomAdder input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  color: indigo;
}

.maininputdiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.leftinputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rightinputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
