.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.left_sidebar {
  /* background-color: red; */
  height: 100vh;
  width: 50wh;
  padding: 50px;
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: sticky;
}

.middle {
  background-color: purple;
  height: 100vh;
  width: 50wh;
  align-items: center;
  justify-content: center;
}

.User,
.BedRooms,
.Staff {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.User:hover,
.BedRooms:hover,
.Staff:hover {
  cursor: pointer;
  color: indigo;
}
