@font-face {
  font-family: "PinkSunset";
  src: url(../assets/PinkSunset-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
h1{
  font-family: "PinkSunset";
  font-size: 2.5em;
  color: white;

}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeNavContainer {
  margin: 0;
  z-index: 150;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 430px;
  align-items: center;
}
.homeNavMain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 200px;
  align-items: center;
}

.homeNavMain ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  align-items: center;
}
.homeNavMain ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}

.rangePicker::placeholder {
  color: black;
  opacity: 1;
}

.videoOverlay {
  width: 100%;
  height: 100%;
  content: '';
  background-image: 
           linear-gradient(to top, black, transparent);
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.homeVideo {
  position: relative;
  width: 100%;
  height: 55vh;
  background-color: rgba(1, 0, 0, 0.394);
  background-image: url("../assets/img2.jpg");
  opacity: 0.68;
  object-fit: cover;
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.homeImage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.394);
  backdrop-filter: blur(5px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.402) 0%,
    rgb(0, 0, 0) 100%
  );
}

.roomImageContainer img {
  object-fit: cover;
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.cardContainer {
  background-color: black;
  width: 25em;
  height: 25em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px ;
}

.homeOtherContent {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: 450px;
}
.cardContainer img:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.5s;
}

.roomDetailImageContainer {
  margin: 5em 13em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
}

.roomDetailImageContainer img:hover {
  object-fit: cover;
  cursor: pointer;
}

.roomDetailImageContainer .left {
  width: max-content;
  height: min-content;
}
.roomDetailImageContainer .left img {
  border-radius: 10px;
  width: 43em;
  height: fit-content;
}

.roomDetailImageContainer .rtop {
  margin: 1em;
  width: 20em;
  height: min-content;
}
.roomDetailImageContainer .rtop img {
  border-radius: 10px;
  width: 20em;
  height: fit-content;
}
.roomDetailImageContainer .rbuttom {
  width: 20em;
  height: min-content;
}
.roomDetailImageContainer .rbuttom img {
  border-radius: 10px;
  width: 20em;
  height: fit-content;
}
.roomDetailImageContainer .rightTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.detailbox {
  width: min-content;
  padding: 20px;
}
.detailbox p {
  width: 80em;
}

.roomDetailContainerPage p::selection{
  background-color: #ffedc5;
  color: black;
}
.roomDetailContainerPage h1::selection{
  background-color: #ffedc5;
  color: black;
}